PANDA_TRACE_BASE_URL=https://trace.patrikmojzis.com
PANDA_TRACE_KEY=ptk.replace_me
PANDA_TRACE_BATCH_SIZE=50
PANDA_TRACE_FLUSH_SECONDS=2
PANDA_TRACE_DISCOVERY_INTERVAL_SECONDS=5
PANDA_TRACE_DEFAULT_SEVERITY=info

